body {
  padding-top: 5rem;
  position: relative;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: left;
}

h1, .lead {
	text-align: center;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}